 <div>
    <!-- <h3 class="text-info p-2">{{aim}}</h3> -->
</div>

<form [formGroup]="loginForm">
    <div class="container w-25 border mt-5 p-3" style="background: rgba(57, 87, 79, 0.5); border-radius: 25px;">
        <h1 class="text-center text-white">Login Page</h1>
        <div class="mt-2 p-2">
            <input formControlName="acno" type="text" name="acno" [placeholder]="account" class="form-control" id="login_acno"><!-- 2 way binding -->
        </div>

        <div *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched" style="color: red;">Invalid Account number</div>

        <div class="mt-2 p-2">
            <input formControlName="pswd" type="password" name="pswd" placeholder="Passsword" class="form-control" id="login_pswd"><!-- 2 way binding -->
        </div>

        <div *ngIf="this.loginForm.get('pswd')?.errors && this.loginForm.get('pswd')?.touched" style="color: red;">Invalid password</div>

        <div class="text-center mt-2 p-2">
        <button class="btn btn-outline-info" (click)="login()"  type="button">Login</button><br><br>  <!-- 2 way binding -->
            <p class="text-white">new user?<a class="text-info" routerLink="register">register</a></p>
        </div>
    </div>
</form>